/*--------------------------------------------------------------
# Silk Serif
--------------------------------------------------------------*/
@font-face {
    font-family: SilkSerif;
    src: url('../fonts/SilkSerif.woff');
}

@font-face {
    font-family: SilkSerif;
    src: url('../fonts/SilkSerif-SemiBold.woff');
    font-weight: bold;
}