/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
$blue: #09fbf3;
$darkBlue: #020b28;

/*--------------------------------------------------------------
# Screen sizes
--------------------------------------------------------------*/
$tablet: 1201px;
$phone: 568px;
