/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
$blue: #09fbf3;
$darkBlue: #020b28;

$blue_hover: #00B1F2;
$blue_hover_: #f5fffe;

/*--------------------------------------------------------------
# Screen sizes
--------------------------------------------------------------*/
$tablet: 75.063rem;
$phone: 35.5rem;
