/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
$blue: #09fbf3;
$darkBlue: #020b28;

/*--------------------------------------------------------------
# Screen sizes
--------------------------------------------------------------*/
$tablet: 75.063rem;
$phone: 35.5rem;
