/*--------------------------------------------------------------
# Map
--------------------------------------------------------------*/
/*  
    # 1 Imports
    # 2 Reset
    # 3 Background canvas
    # 4 Navbar
        > Logo
        > Links
    # 5 Texts
        > Titles
            > Big
        > Subtitles
            > Blue
            > Main
            > Small
    # 6 Landing
*/
/*--------------------------------------------------------------
# 1 Imports
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Silk Serif
--------------------------------------------------------------*/
@font-face {
  font-family: SilkSerif;
  src: url("../fonts/SilkSerif.woff");
}
@font-face {
  font-family: SilkSerif;
  src: url("../fonts/SilkSerif-SemiBold.woff");
  font-weight: bold;
}
/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Screen sizes
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# 2 Reset
--------------------------------------------------------------*/
html {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  color: white;
  word-spacing: 0.063rem;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0;
  height: 800vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}
a.a--slice {
  overflow: hidden;
  display: block;
  position: relative;
}
a.a--slice span {
  display: block;
  transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
a.a--slice:after {
  content: attr(data-link-alt);
  display: inline;
  position: absolute;
  transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  top: 100%;
  left: 0;
  right: 0;
  text-align: center;
}
a.a--slice:hover span {
  transform: translateY(-100%);
}
a.a--slice:hover:after {
  top: 0;
}
a.a--slice:hover:active {
  cursor: pointer;
}

.wrapper {
  width: 100%;
  max-width: 75rem;
  margin: auto;
  padding: 0 2rem;
}
@media (max-width: 35.5rem) {
  .wrapper {
    padding: 0 1.125rem;
  }
}

/*--------------------------------------------------------------
# 3 Background canvas
--------------------------------------------------------------*/
#background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99;
}

/*--------------------------------------------------------------
# 4 Navbar
--------------------------------------------------------------*/
nav {
  position: fixed;
  top: 3.125rem;
  left: 0;
  right: 0;
  z-index: 99;
  margin: auto;
  display: flex;
  align-items: center;
  /* Logo ----------*/
  /* Links ----------*/
}
@media (max-width: 35.5rem) {
  nav {
    top: 2rem;
  }
}
nav .nav__logo {
  width: 2.5rem;
  height: 2.5rem;
}
nav .nav__logo a {
  width: 100%;
  height: 100%;
  display: block;
}
nav .nav__logo a svg {
  height: 2.5rem;
}
nav .nav__links {
  width: calc(100% - 2.5rem);
}
nav .nav__links li {
  float: right;
}
nav .nav__links li:not(:first-child) {
  margin-right: 2rem;
}
nav .nav__links li a {
  width: 100%;
  height: 100%;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.044rem;
  text-transform: uppercase;
}

/*--------------------------------------------------------------
# 5 Texts
--------------------------------------------------------------*/
/* Titles ----------*/
.title {
  font-family: "SilkSerif", sans-serif;
  color: white;
}
.title.title--big {
  font-size: 8rem;
  line-height: 8rem;
  font-weight: bold;
}
@media (max-width: 35.5rem) {
  .title.title--big {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }
}

/* Subtitles ----------*/
.subtitle {
  font-family: "Montserrat", sans-serif;
}
.subtitle.subtitle--blue {
  color: #09fbf3;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.053rem;
  text-transform: uppercase;
}
.subtitle.subtitle--main {
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
}
.subtitle.subtitle--small {
  color: white;
  font-size: 0.625rem;
  letter-spacing: 0.031rem;
  text-transform: uppercase;
  font-weight: 600;
}

/*--------------------------------------------------------------
# 6 Landing
--------------------------------------------------------------*/
.landing {
  height: 100vh;
  min-height: 31.25rem;
  max-height: 93.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.landing .title--big {
  margin: 1.125rem 0;
}
.landing .subtitle--blue {
  margin-top: 100px;
}
.landing .landing__footer {
  width: calc(100% - 4rem);
  position: absolute;
  bottom: 3.125rem;
  left: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 35.5rem) {
  .landing .landing__footer {
    width: calc(100% - 2.25rem);
    left: 1.125rem;
    bottom: 2rem;
    flex-direction: column;
  }
}
@media (max-width: 35.5rem) {
  .landing .landing__footer .landing__footer__subtitle {
    order: 2;
  }
}
.landing .landing__footer .landing__footer__social ul li {
  float: left;
}
.landing .landing__footer .landing__footer__social ul li:not(:first-child) {
  margin-left: 1rem;
}
.landing .landing__footer .landing__footer__social ul li a {
  display: inline-block;
  transition: all 300ms ease-in-out;
}
.landing .landing__footer .landing__footer__social ul li a:hover {
  transform: scale(1.2);
}
@media (max-width: 35.5rem) {
  .landing .landing__footer .landing__footer__social {
    order: 1;
    margin-bottom: 1.125rem;
  }
}

/*# sourceMappingURL=style.css.map */
