/*--------------------------------------------------------------
# Map
--------------------------------------------------------------*/
/*  
    # 1 Imports
    # 2 Reset
    # 3 Background canvas
    # 4 Navbar
        > Logo
        > Links
    # 5 Texts
        > Titles
            > Big
            > Medium
            > X Small
        > Subtitles
            > Blue
            > Main
            > Small
        > Texts
            > Small
    # 6 Landing
    # 7 Testimonials
    # 8 Footer
    # 9 Circles
*/

/*--------------------------------------------------------------
# 1 Imports
--------------------------------------------------------------*/
@import "animations";
@import "fonts";
@import "mixins";
@import "variables";

/*--------------------------------------------------------------
# 2 Reset
--------------------------------------------------------------*/
html {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  color: white;
  word-spacing: 0.063rem;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;

  &.a--slice {
    overflow: hidden;
    display: block;
    position: relative;

    span {
      display: block;
      transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &:after {
      content: attr(data-link-alt);
      display: inline;
      position: absolute;
      transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      top: 100%;
      left: 0;
      right: 0;
      text-align: center;
    }

    &:hover {
      span {
        transform: translateY(-100%);
      }

      &:after {
        top: 0;
      }

      &:active {
        cursor: pointer;
      }
    }
  }
}

.wrapper {
  width: 100%;
  max-width: 75rem;

  margin: auto;
  padding: 0 2rem;

  @media (max-width: $phone) {
    padding: 0 1.125rem;
  }
}

/*--------------------------------------------------------------
# 3 Background canvas
--------------------------------------------------------------*/
#background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99;
}

/*--------------------------------------------------------------
# 4 Navbar
--------------------------------------------------------------*/
nav {
  position: fixed;
  top: 3.125rem;
  left: 0;
  right: 0;
  z-index: 99;

  margin: auto;

  display: flex;
  align-items: center;

  @media (max-width: $phone) {
    top: 2rem;
  }

  /* Logo ----------*/
  .nav__logo {
    width: 2.5rem;
    height: 2.5rem;

    a {
      width: 100%;
      height: 100%;
      display: block;

      svg {
        height: 2.5rem;
      }
    }
  }

  /* Links ----------*/
  .nav__links {
    width: calc(100% - 2.5rem);

    li {
      float: right;

      &:not(:first-child) {
        margin-right: 2rem;
      }

      a {
        width: 100%;
        height: 100%;

        font-size: 0.875rem;
        font-weight: bold;
        letter-spacing: 0.044rem;
        text-transform: uppercase;
      }
    }
  }
}

/*--------------------------------------------------------------
# 5 Texts
--------------------------------------------------------------*/
/* Titles ----------*/
.title {
  font-family: "SilkSerif", sans-serif;
  color: white;

  &.title--big {
    font-size: 8rem;
    line-height: 8rem;
    font-weight: bold;

    @media (max-width: $phone) {
      font-size: 4.8rem;
      line-height: 4.8rem;
    }
  }

  &.title--medium {
    width: 100%;

    text-align: center;
    font-size: 5rem;
    line-height: 5rem;
    font-weight: bold;

    @media (max-width: $phone) {
      font-size: 3.125rem;
      line-height: 3.125rem;
    }

    margin-bottom: 18px;

    &.title--alone {
      margin-bottom: 6.25rem;
    }
  }

  &.title--small {
    font-size: 3.125rem;
    line-height: 3.125rem;
    font-weight: bold;

    @media (max-width: $phone) {
      font-size: 1.625rem;
      line-height: 1.625rem;
    }
  }

  &.title--xsmall {
    width: 100%;

    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.125rem;
    font-weight: bold;
    text-transform: uppercase;

    margin-bottom: 0.75rem;
  }
}

/* Subtitles ----------*/
.subtitle {
  font-family: "Montserrat", sans-serif;

  &.subtitle--blue {
    color: $blue;
    font-size: 0.875rem;
    font-weight: bold;
    letter-spacing: 0.053rem;
    text-transform: uppercase;
  }

  &.subtitle--main {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
  }

  &.subtitle--small {
    color: white;
    font-size: 0.625rem;
    letter-spacing: 0.031rem;
    text-transform: uppercase;
    font-weight: 600;
  }
}

/* Texts ----------*/
.txt {
  font-family: "Montserrat", sans-serif;

  &.txt--small {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.375rem;
  }
}

/*--------------------------------------------------------------
# 6 Landing
--------------------------------------------------------------*/
.landing {
  height: 100vh;
  min-height: 37.5rem;
  max-height: 93.75rem;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  margin-bottom: 15.625rem;

  @media (max-width: $phone) {
    margin-bottom: 12.5rem;
  }

  .title--big {
    margin: 1.125rem 0;
  }

  .subtitle--blue {
    margin-top: 6.25rem;
  }

  @media (max-width: $phone) {
    .subtitle--blue {
      margin-top: 0;
    }
  }

  .landing__footer {
    width: calc(100% - 4rem);

    position: absolute;
    bottom: 3.125rem;
    left: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $phone) {
      width: calc(100% - 2.25rem);
      left: 1.125rem;
      bottom: 5rem;

      flex-direction: column;
    }

    .landing__footer__subtitle {
      @media (max-width: $phone) {
        order: 2;
      }
    }

    .landing__footer__social {
      ul {
        li {
          float: left;

          &:not(:first-child) {
            margin-left: 1rem;
          }

          a {
            display: inline-block;
            transition: all 300ms ease-in-out;

            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }

      @media (max-width: $phone) {
        order: 1;
        margin-bottom: 1.125rem;
      }
    }
  }
}

/*--------------------------------------------------------------
# 7 Testimonials
--------------------------------------------------------------*/
.testimonials {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 11.625rem;

  @media (max-width: $phone) {
    margin-bottom: 8.5rem;
  }

  .testimonials__article {
    width: 33.3%;

    padding: 0 1.125rem;
    margin-bottom: 4rem;

    @media (max-width: $tablet) {
      width: 50%;
    }

    @media (max-width: $phone) {
      width: 100%;
      padding: 0;
    }

    .testimonials__article__thumb {
      width: 100%;
      position: relative;

      text-align: center;

      margin-bottom: 0.75rem;

      img:first-child {
        width: 5rem;
      }

      img:last-child {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }

    .txt {
      text-align: center;
    }
  }
}

/*--------------------------------------------------------------
# 8 Footer
--------------------------------------------------------------*/
footer {
  width: 100%;
  height: 43.75rem;

  position: relative;
  z-index: 9;

  .footer__background {
    width: 100%;
    max-height: 43.75rem;
    min-height: 38rem;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -2;

    opacity: 0.8;

    object-fit: cover;
    object-position: top;
  }

  .footer__details {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 50px;

    .subtitle {
      text-align: left;
      margin-bottom: 32px;

      @media (max-width: $phone) {
        margin-bottom: 18px;
      }
    }

    .footer__details__contact {
      width: 100%;

      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      margin-bottom: 200px;

      .footer__details__contact__social {
        ul {
          li {
            float: left;

            &:not(:first-child) {
              margin-left: 1rem;
            }
          }
        }
      }

      @media (max-width: $tablet) {
        flex-wrap: wrap;

        .footer__details__contact__email {
          width: 100%;

          margin-bottom: 50px;
        }

        .footer__details__contact__social {
          width: 100%;
        }
      }
    }

    .footer__details__credits {
      width: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

/*--------------------------------------------------------------
# 9 Circles
--------------------------------------------------------------*/
.circle {
  &.circle--darkBlurred {
    width: 58px;
    height: 58px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    &::before {
      content: "";
      width: 58px;
      height: 58px;
      background-color: $darkBlue;

      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;

      border-radius: 50%;

      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgb(2, 11, 40, 0.36);
    }

    img {
      transition: all 200ms ease-in-out;
    }
    &:hover {
      img {
        transform: scale(1.2)
      }
    }
  }
}
